.page {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}