.section-bottom {
    padding-bottom: 0;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.icons-wrap {
    @extend %align-list;
    height: 120px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 30px;
}

.container-title {
    margin-bottom: 10px;
}

.benefits-item {
    width: 270px;
}